.my-button {
  height: 40px;
  width: 40px;
  color: #5d5d5d;
  border-radius: 100%;
  cursor: pointer;
  background: #fff;
  border: none;
  transition-duration: 300ms;

  &:active {
    border-color: rgba(255, 255, 255, 0.3);
  }

  &.bark {
    color: #fff;
    background: #5d5d5d;
    box-shadow: 4px 4px 8px #4f4f4f,
      -4px -4px 8px #6b6b6b;;

    &:active {
      box-shadow:inset 4px 4px 8px #4f4f4f,
        inset -4px -4px 8px #6b6b6b;
    }
  }
}