.my-button {
  border: 1px solid rgba(184, 241, 204, 0.0);
  height: 55px;
  width: 55px;
  color: #fff;
  border-radius: 100%;
  background: rgba(184, 241, 204, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &:active {
    border-color: rgba(255, 255, 255, 0.3);
  }
}